<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Mis Tareas</h1>

      <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Nueva tarea" required />
        <button type="submit">Agregar</button>
      </form>

      <ul>
        {% for task in tasks %}
        <li>
          <form
            method="POST"
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            {% csrf_token %} {{ task.title }}
            <button
              type="submit"
              name="delete"
              value="{{ task.id }}"
              style="background: #e74c3c"
            >
              ✖
            </button>
          </form>
        </li>
        {% empty %}
        <li>No hay tareas aún. Hola</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
